APP_NAME=YOUR_APP_NAME
APP_ENV=production
APP_KEY=YOUR_APP_KEY
APP_DEBUG=true
APP_URL=YOUR_APP_URL
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

B_CONNECTION=mysql
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_DATABASE=YOUR_DB_DATABASE
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=YOUR_MAIL_DRIVER
MAIL_DRIVER=YOUR_MAIL_DRIVER
MAIL_HOST=YOUR_MAIL_HOST
MAIL_PORT=YOUR_MAIL_PORT
MAIL_USERNAME=YOUR_MAIL_USERNAME
MAIL_PASSWORD=YOUR_MAIL_PASSWORD
MAIL_ENCRYPTION=YOUR_MAIL_ENCRYPTION
MAIL_SEND_TOKEN_VALIDATE=YOUR_EMAIL

# AWS_ACCESS_KEY_ID=YOUR_KEY_ID
# AWS_SECRET_ACCESS_KEY=YOUR_ACCESS_KEY
# AWS_DEFAULT_REGION=YOUR_DEFAULT_REGION
# AWS_BUCKET=YOUR_AWS_BUCKET
# AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_APP_NAME="${APP_NAME}"
VITE_APP_API_URL="${APP_URL}/api/admin/"
VITE_APP_LOCALE=YOUR_LOCALE
VITE_APP_CURRENCY=YOUR_CURRENCY


JWT_SECRET=YOUR_JWT_SECRET
